body {
  margin: 0;
  padding: 0;
}

.homePage-image {
  background-image: url('https://images.pexels.com/photos/3183187/pexels-photo-3183187.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  height: 92vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.homePage-quote {
  width: 20%;
  margin-top: 0;
  padding-top: 10%;
  padding-left: 3%;
}

.loginPage {
  background-image: url('https://images.pexels.com/photos/316902/pexels-photo-316902.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  height: 92vh;
  /* opacity: 0.4; */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.backerLogin-image {
  background-image: url('https://images.pexels.com/photos/4273375/pexels-photo-4273375.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  height: 92vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.developerLogin-image {
  background-image: url('https://images.pexels.com/photos/2389349/pexels-photo-2389349.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  height: 92vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.developerSignup-image {
  background-image: url('https://images.pexels.com/photos/1125328/pexels-photo-1125328.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  height: 92vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.backerSignup-image {
  background-image: url('https://images.pexels.com/photos/3205441/pexels-photo-3205441.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  height: 92vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}