body {
  margin: 0;
  padding: 0;
}

.homePage-image {
  background-image: url('https://images.pexels.com/photos/3183187/pexels-photo-3183187.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  height: 92vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.homePage-quote {
  width: 20%;
  margin-top: 0;
  padding-top: 10%;
  padding-left: 3%;
}

.loginPage {
  background-image: url('https://images.pexels.com/photos/316902/pexels-photo-316902.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  height: 92vh;
  /* opacity: 0.4; */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.backerLogin-image {
  background-image: url('https://player.vimeo.com/external/282759939.sd.mp4?s=c15d2721602bb886889bfd20c01f1c344cb5d5e8&profile_id=164&oauth2_token_id=57447761');
  height: 92vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.developerLogin-image {
  background-image: url('https://player.vimeo.com/external/278144257.sd.mp4?s=26c3dce6f650c1613d68873c4a6d74fc8ce0ec1f&profile_id=164&oauth2_token_id=57447761');
  height: 92vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.developerSignup-image {
  background-image: url('https://player.vimeo.com/external/312895181.sd.mp4?s=2d29fcdbc7b110e80d0cf3c8bee7a75843bb9625&profile_id=164&oauth2_token_id=57447761');
  height: 92vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.backerSignup-image {
  background-image: url('https://player.vimeo.com/external/308152799.sd.mp4?s=d2fc57e7e5c64a8508479779cfc11178d90859d1&profile_id=164&oauth2_token_id=57447761');
  height: 92vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}